* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
}

.wrapper {
  width: 1220px;
  height: 46em;
  margin: 0 auto;
}

.wrapper_second {
  width: 1220px;
  height: 46em;
  margin: 0 auto;
}
.top-header {
  display: flex;
  justify-content: space-between;
  /* margin-top: 24px; */
  padding: 2.4rem 0 1.7rem;
  font-size: 1.6rem;
}

.top-header_text {
  color: white;
}

.top-header_phone {
  color: white;
  text-decoration: none;
}

.top-header_phone:hover {
  text-decoration: underline;
}

.top-header_phone::before {
  content: "\f879";
  font-family: FontAwesome;
  margin-right: 0.5rem;
}

.divider {
  border: none;
  border-bottom: 1px solid #716c80;
}

.header-logo {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
.header-logo_first_o {
  color: gold;
  letter-spacing: -0.6rem;
}

.header-logo_second_o {
  color: gold;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2.6rem;
  align-items: center;
}

.header-navbar {
  display: flex;
  align-items: center;
}

.header-logo {
  display: block;
  margin-right: 5.8rem;
}

.header-menu {
  display: flex;
  position: relative;
}

.header-menu_submenu {
  position: absolute;
  left: 17.8em;
  top: 4.5em;
  width: 10em;
  padding: 1em;
  border-radius: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em black;
}

.header-menu_submenu {
  display: none;
}

.header-menu_submenu .header-menu_item {
  /* padding-top: 0.5em; */
}

.header-menu_item:hover .header-menu_submenu {
  display: block;
}
.header-menu_item {
  margin-right: 1rem;
  padding: 1.8em 0;
}

.header-menu_submenu .header-menu_item {
  padding: 0.2em;
}
.header-menu_item:last-child {
  margin-right: 0;
}

.header-menu_item_link {
  text-decoration: none;
  color: white;
}

.header-menu_item_link:hover {
  color: gold;
  text-shadow: 0 0 0.07em gold;
}

.header-menu_item_link_active {
  color: white;
  font-weight: 700;
}

.btn {
  border: 0.2em solid gold;
  background: transparent;
  color: white;
  border-radius: 3em;
  height: 3em;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  padding: 0 2em;
  cursor: pointer;
}

.btn:hover {
  background-color: gold;
  color: black;
}
.header-actions_text {
  display: inline-block;
  margin: 0 0.5rem;
}

.first_screen {
  background-image: url(/img/Layer9.png);
  background-repeat: no-repeat;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.stage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.woman {
  height: 20em;
  margin: 2em 25em 0 13em;
}

.stage_content {
  position: relative;
  top: 1em;
}

.stage_title {
  width: 11em;
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 0.95;
  letter-spacing: 0.38px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 5.1rem;
}

.stage_title_1 {
  text-transform: lowercase;
  font-size: 41.5px;
  line-height: 1.65;
  letter-spacing: 12.66px;
}

.stage_text {
  color: white;
  margin-bottom: 4rem;
}

.btn_dark {
  vertical-align: center;
  text-decoration: none;
  background-color: gold;
  color: black;
  height: 2em;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  padding: 1.3em 2em;
}

.btn_dark:hover {
  background: transparent;
  color: white;
}
.stage_action .btn_dark {
  margin-right: 3rem;
}

.link {
  border: none;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
}
.link::after {
  content: "\f30b";
  font-family: FontAwesome;
  margin-left: 1rem;
}

.link:hover {
  color: gold;
}

.btn-bottom {
  position: absolute;
  background-color: violet;
  bottom: -9em;
  left: calc(50% - 55px);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
}

.features {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.infoblok {
  margin-top: 10rem;
  width: 36rem;
  height: fit-content;
  background-color: black;
  box-shadow: 0 0 1em black;
  border-radius: 0.5em;
  padding: 5rem;
}

.infoblok:hover {
  background-color: gold;
}

.infoblock_text {
  margin: 1rem 0 1rem 0;
}

.infoblok:hover .infoblock_title {
  display: none;
}

.infoblock_link {
  display: none;
}

.infoblok:hover .infoblock_link {
  display: inline-block;
}

.article {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1220px;
  margin: 0 auto;
  align-items: center;
  position: relative;
  padding-top: 10rem;
}

.article_title {
  color: black;
  font-family: "Nunito", sans-serif;
}

.article_text {
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0;
  margin-bottom: 3rem;
}

.article_action .btn_dark {
  margin-right: 2rem;
  margin-top: 1rem;
}

.article_link {
  color: black;
}

.article_woman {
  height: 40rem;
  margin-right: 20rem;
}
